[user]
	name = {{ .gitName }}
	email = {{ .gitEmail }}
{{- if .gitSigningKey }}
	signingkey = {{ .gitSigningKey }}
{{- end }}
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
{{- if and .gitSigningKey .gitSigningProgram }}
[gpg]
	format = ssh
[gpg "ssh"]
	program = {{ .gitSigningProgram }}
[commit]
	gpgsign = true
{{- end }}
