{{- $gitName := get . "gitName" | default "" -}}
{{- $gitEmail := get . "gitEmail" | default "" -}}
{{- $gitSigningKey := get . "gitSigningKey" | default "" -}}
{{- $gitSigningProgram := get . "gitSigningProgram" | default "" -}}
{{- if or $gitName $gitEmail }}
[user]
	name = {{ $gitName }}
	email = {{ $gitEmail }}
{{- if $gitSigningKey }}
	signingkey = {{ $gitSigningKey }}
{{- end }}
{{- end }}
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
{{- if and $gitSigningKey $gitSigningProgram }}
[gpg]
	format = ssh
[gpg "ssh"]
	program = {{ $gitSigningProgram }}
[commit]
	gpgsign = true
{{- end }}
